*{
    box-sizing: border-box;
    
}
body{
    background-image: url(Harry/tiltottrengeteg.jpg);
    background-size: cover;
}
img{
    max-width: 50px;
}
article{
    display: grid;
    grid-template-columns: 1fr  1fr  1fr  1fr  1fr  1fr  1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr  1fr  1fr  1fr  1fr  1fr  1fr 1fr 1fr 1fr ;
}
